#graphContainer {
    margin-bottom: 40px; 
}
#graphContent {
    height: 80%;
    width: 100%; 
    
}

.graphWire {
    /* background-color: whitesmoke; 
    border: 1px grey solid; 
    height: 400px; */
    /* margin-left: 75px; */
}

.warningWire {
    background-color: cornsilk; 
    border: 1px grey solid; 
    height: 50px;
    width: 250px; 
    /* margin-left: 75px; */
}

.buttonWire {
    background-color: forestgreen; 
    border: 1px grey solid; 
    height: 50px;
    width: 200px; 
    /* margin-left: 100px; */
}