#instantContainer {
    margin-bottom: 40px; 
    font-family: 'Roboto Mono', monospace;
}
#instantContent {
    padding: 40px; 
    width: 80%; 
    margin-left: 5%; 
}

#instantBox {
    /* background-color: whitesmoke;  */
    /* border: 1px grey solid;  */
    /* height: 200px;
    width: 200px;  */
    /* text-align: center; */
}

#instantText {
    margin-top: 30px;
    font-size: 95px; 
}

#instantWarningBox {
    text-align: center;
}

#instantWarningText{
    margin-top: 15px; 
}


.warningGreen {
    background-color: forestgreen; 
    border: 1px grey solid; 
    height: 50px;
    width: 200px; 
}

.warningYellow {
    background-color: cornsilk; 
    border: 1px grey solid; 
    height: 50px;
    width: 200px;    
}

.warningRed {
    background-color: tomato; 
    border: 1px grey solid; 
    height: 50px;
    width: 200px; 
    
}

