.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #00acb0;
    padding: 2px;
    color: #ece7e7;
}

/* Change the link color to #111 (black) on hover */
li button:hover {
    text-decoration: underline;
    color: #eee;
}

#appBarButton {
    color: #ece7e7;
    font-size: 12px;
}

#logoutButton {
    float: right; 
    color: #ece7e7;
}