h1 {
    text-align: center; 
}


.devicePaper {
    width: 90%;
    margin-top: 25px; 
    margin: 20px auto;
    border-radius: 10px; 
}

.activeDevice {
    background-color:PaleGreen;
}

.deviceName {
    padding-top: 15px; 
    padding-left: 20px; 
}

.deviceEdit {
    margin-top: 22px; 
}
.deviceDelete {
    margin-top: 18px; 
}
.deviceMore {
    margin-top: 18px; 
}

#addDeviceLink {
    background-color: #2a8cc5;
    color: white; 
    border-radius: 0px; 
}
